<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mysterybox.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.mysterybox.entity.User">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="nickname" property="nickname"/>
        <result column="phone" property="phone"/>
        <result column="role" property="role"/>
        <result column="balance" property="balance"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, username, password, nickname, phone, role, balance
    </sql>

    <select id="findById" resultType="com.mysterybox.entity.User">
        SELECT * FROM user WHERE id = #{id}
    </select>

    <select id="findByUsername" resultMap="BaseResultMap">
        SELECT 
        <include refid="Base_Column_List" />
        FROM user 
        WHERE username = #{username}
    </select>
    
    <select id="findAll" resultType="com.mysterybox.entity.User">
        SELECT * FROM user
    </select>
    
    <insert id="insert" parameterType="com.mysterybox.entity.User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user (username, password, nickname, phone, role, balance)
        VALUES (#{username}, #{password}, #{nickname}, #{phone}, #{role}, #{balance})
    </insert>
    
    <update id="update" parameterType="com.mysterybox.entity.User">
        UPDATE user
        SET username = #{username},
            password = #{password},
            nickname = #{nickname},
            phone = #{phone},
            role = #{role},
            balance = #{balance}
        WHERE id = #{id}
    </update>
    
    <delete id="delete">
        DELETE FROM user WHERE id = #{id}
    </delete>
    
    <select id="countByCreateTimeAfter" resultType="int">
        SELECT COUNT(*) FROM user WHERE create_time > #{time}
    </select>
    
    <select id="countActiveUsers" resultType="int">
        SELECT COUNT(DISTINCT user_id) FROM login_log 
        WHERE login_time > #{time}
    </select>

    <resultMap id="userMap" type="com.mysterybox.entity.User">
        <id property="id" column="id"/>
        <result property="openId" column="open_id"/>
        <result property="nickName" column="nick_name"/>
        <result property="avatarUrl" column="avatar_url"/>
        <result property="gender" column="gender"/>
        <result property="country" column="country"/>
        <result property="province" column="province"/>
        <result property="city" column="city"/>
        <result property="language" column="language"/>
        <result property="status" column="status"/>
        <result property="lastLoginTime" column="last_login_time"/>
    </resultMap>

    <select id="findByOpenId" resultMap="userMap">
        SELECT * FROM user WHERE open_id = #{openId}
    </select>
    
    <insert id="insertUser" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user (
            open_id, nickname, avatar_url, gender, 
            country, province, city, language, 
            role, create_time, update_time
        ) VALUES (
            #{openId}, #{nickname}, #{avatarUrl}, #{gender},
            #{country}, #{province}, #{city}, #{language},
            #{role}, NOW(), NOW()
        )
    </insert>
    
    <update id="updateUser">
        UPDATE user
        SET 
            nickname = #{nickname},
            avatar_url = #{avatarUrl},
            gender = #{gender},
            update_time = NOW()
        WHERE id = #{id}
    </update>
</mapper> 